<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= name %> </title>

    <link rel="stylesheet" href="/dist/style.css">
</head>
<body>
    <section class="bg-sky-900 h-screen flex flex-col items-center justify-center">
        <div class="grow"></div>
        <!-- Profil -->
        <%- include('src/template/partials/profile', {name, title}) %>
        <%- include('src/template/partials/soc_med', {name, title}) %>
        <!-- Social media Links -->
        
    </section>
<!-- skills -->
    <%- include('src/template/partials/skills', {skills}) %>

    <%- include('src/template/partials/portfolio') %>
    
    <%- include('src/template/partials/certs')  %> 
    
</body>
</html>